/* About me page */
.about{
	padding: 15px 0 80px 0;
	.container{display: table !important;}
	.about-content{
		max-width: 100%;
		margin-right: 5%;
		float: left;
		clear: both;
		@media screen and (max-width: 768px) {
			float: none;
			max-width: 100%;
			display: table-footer-group;	
		}
	}

	/* .about-img{
		float: right;
		max-width: 30%;
		margin-top: 4rem;
		@media screen and (max-width: 768px) {
			float: none;
			max-width: 100%;
			text-align: center;
			display: block;
		}
		img{
			max-width:100%;
			max-height: 45rem;
			border-radius: 1rem;
		}
	} */
}
