/* About Me Section */
.page-id-58{background: $main-gray;}
.about{
	background: $main-gray;
	.container{display: table !important;}
	.about-content{
		max-width: 60%;
		margin-right: 1%;
		float: left;
		clear: both;
		@media screen and (max-width: 768px) {
			float: none;
			max-width: 100%;
			text-align: center;
			display: table-footer-group;	
		}
		.about-head{ @include special-header (); }

		p{
			font-size: 2rem !important;
			line-height: 1.5 !important;
			font-weight: 400 !important;
		}
	}

	.about-img{
		float: right;
		max-width: 39%;
		margin-top: 35px;
		text-align: right;
		@media screen and (max-width: 768px) {
			float: none;
			max-width: 100%;
			text-align: center;
			display: block;
		}
		img{
			max-width:100%;
			max-height: 450px;
			border-radius: 10px;
		}
	}
}