/* Blog Section */
.home .bloge{ 
	padding: 1rem 0 16rem 0;
	@media screen and (max-width: 768px) { padding: 1rem 0 20rem 0; }
}
.bloge{
	padding: 6% 0 0 0;
	@media screen and (max-width: 768px) { padding: 13% 0 16% 0; }
	.container{
		.blog-posts{
			padding-top: 1.5rem;
			.single-post:not(:last-child){
				margin-bottom: 2%;
				@media screen and (max-width: 768px) {margin-bottom: 5%;}
			}
			.single-post{
				display: flex;
				&:hover .post-img { transform: scale(1.2); }
				@media screen and (max-width: 768px) {display: block;}
				.img-container{
					width: 37%;
					position: relative;
					overflow: hidden;
					@media screen and (max-width: 768px) { width: 100%; height: 22.5rem ;display: block; }
				}
				.post-img{
					transition: 300ms ease-in-out;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					max-width: 100%;
					height: 100%; 					
					display: block;
					position: absolute;
					top:0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				.post-content{
					width:100%;
					padding: 1rem;
					@media screen and (max-width: 768px) { width: 100%; padding: 2rem 1rem; display: block; }

					.entry-footer{
						text-align: right;
						line-height: 3;
						span{ padding: 0 .5rem; }
						@media screen and (max-width: 768px) { display: none; }
					}
				}
			}
		}
	}
	.page-nav{
		text-align: center;
		padding: 2rem 0;
		display: table;
		margin: auto;
	}
}