/* colors of website */

.about, .bloge, .contact, .nav, .affix, .custome-header, .comments-area, body.login, .category { background: $main-gray;}

.fa-search, .nav .search, .fa-times-circle, .intro { color: $main-blue }

.nav div.main_list ul li.active a{
	color: #000;
	background: linear-gradient($main-blue,$main-blue) bottom left no-repeat;
}

.nav div.main_list ul li a {
	color: #000;
	background: linear-gradient(#25a9de,#25a9de) bottom left no-repeat;
}

.nav div.main_list ul li a:hover {
	color: $main-blue;
	background: linear-gradient($main-blue,$main-blue) bottom left no-repeat;
}

@media screen and (max-width:782px) {
	.nav div.main_list ul { background-color: $main-blue; }

	.nav div.main_list ul li a {
		&:hover{ color: $white; }
	}
}


.live-search{
	.visible{
		background: rgba(255, 255, 255, .96);
		input{ color: #000; }
	}
}

.post-content{background-color: $white;}

.post-info{
	.entry-date{
		transition: 300ms ease-in-out;
		&:hover{color: $main-blue;}				
	}
	.author{	
		&:hover a{color: $main-blue; transition: 300ms ease-in-out;}
	}
}
.entry-footer a{
	&:hover { color: $main-blue; transition: 300ms ease-in-out; }
}

.page-nav{ 
	a{margin:0 3px;}
	a:hover{color: $main-blue; }
	.current{ color: $main-blue; font-size: 3rem;}
}


.btn-sunset-form {
	background-color: $grey;
	color: $white;
	&:hover,
	&:focus {
		background-color: $main-blue;
		color: $white;
	}
}

.js-show-feedback { color: green; }

.project-date{ background: $main-blue; color: $white; }

.Languages{
	ul{
		li{ background-color: $white; }
	}
}

.singl{
	.container{ background: $white; }
}

.wrapper-aside{
	.blog-posts{ background:$main-gray; }

	.widget_categories{ li{ background: $main-gray;} }

	.widget-area{ background: $white; }

}

.post-navigation{
	a{ color: $main-blue; background: $white; }
}

.comments-title{ background: $white; }

.comment-author{
	.fn{ background: $main-gray; }
}

.comment-body{ background: $white; }

.site-footer{
	background-color: #333;
	a{ 
		color: $white;
		.fa-linkedin:hover{color: $main-blue; transition: 300ms ease-in-out;}
		.fa-github:hover{color: orange; transition: 300ms ease-in-out;}
	 }
}