/* contact Page */
.page-id-24{background-color: $main-gray}
.contact {
	max-height: 100vh;
	text-align: center;
	padding: 5% 0 7% 0;
	input, textarea{
		width: 45rem;
		padding: 1.1rem;
		margin-bottom: 2.1rem;
		border-radius: .3rem;
		border: none;
		&:focus { border: .2rem solid $main-blue; }
	}
	.button{
		cursor: pointer;
		color: $white;
		width: 26.5rem;
		border: 3px solid $white;
		border-radius: .5rem;
		transition: 300ms ease-in-out;
	}
}


// Contact form 
.sunset-contact-form {
	padding-top: 1rem;
	max-width: 50rem;
	width: 100%;
	margin: 0 auto;
	.form-group {
		position: relative;
		.form-control-msg {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1rem;
		}

		&.has-error {
			&:before { background-color: #a94442; }
		}
	}

	.sunset-form-control {
		resize: vertical;
		border: none !important;
		border-radius: 0;
		padding: .5rem 1.5rem;
		outline: none;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;

		&::-webkit-input-placeholder {
			text-transform: uppercase;
		}

		&::-moz-placeholder {
			text-transform: uppercase;
		}

		&:-ms-placeholder {
			text-transform: uppercase;
		}

		&:-moz-placeholder {
			text-transform: uppercase;
		}

		&:hover,
		&:focus,
		&:active {
			box-shadow: none;
		}
		
		&:focus{border-bottom: 3px solid $main-blue !important;}
		&:focus:invalid{border-bottom: 3px solid #ff7730 !important;}
	}

	.btn-sunset-form {
		border-radius: 2px;
		padding: 1.4rem 6rem;
		border: none;
		&:hover,
		&:focus { cursor: pointer; }
	}

	.form-control-msg { display: none; }

	.has-error {
		.form-control-msg {
			display: block;
			position: relative;
			top: -1rem;
		}
	}

	.js-show-feedback {
		display: block;
		margin-top: 1.4rem;
	}

}

