/* Footer Section */
.site-footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	p{margin: 0 !important}
	.col-1{ display: inline-block; float: left; }
	.col-2{ 
		display: inline-block; float: right;
	}
	@media screen and (max-width: 768px) {
		.col-1, .col-2{ display: block; float: none; }
		.col-2{display: table-header-group;}
		.container{display: table;}
		text-align: center;	
	}
}