/* Footer Section */
.single-post .site-footer{bottom: -96px;}

.single-post .before-footer{  margin-top: 50px; @media screen and (min-width: 768px){padding: 20px 0 0 0;}}
.single-post .before-footer{ @media screen and (max-width: 768px){padding: 0;}}

.single-post .gurantee{
	@media screen and (max-width: 768px){
		padding-bottom: 25px !important;
	}
}
.before-footer{
	border-top: 1px solid $main-blue;
    background: #fbfbfb;
	padding: 30px 0 50px 0;
	@media screen and (max-width: 768px){
		padding: 0 0 90px 0;
	}
	.gurantee{
		overflow: hidden;
		padding: 10px 0 0 0;
		
		li{float: left; width: 25%; font-weight: bolder;
			@media screen and (max-width: 768px){
				width: 100%;
				float: none;
				padding: 32px 0 32px 0;
				font-size: 3rem;
				border-bottom: 1px solid $main-blue;
			}
		}
		i{float: left; margin: -4px 10px 0 0 ; color: $main-blue;
			@media screen and (max-width: 768px){
				float: none;
			}
		}
		@media screen and (max-width: 768px){
			ul{text-align: center;}
		}
	}
}
.site-footer{
	.container{overflow: hidden;}
	width: 100%;
	position: absolute;
	bottom: -120px;
	left: 0;
	right: 0;
	padding: 15px 0 0 0;
	p{margin-bottom: 0 !important}
	.col-1{ 
		display: inline-block;
		padding: 17px 0 30px 0;
		li{
			//font-size: 1.5rem;
		   width: 33%;
		   display: inline-block;
		   text-align: center;
		   padding: 5px 5%;
		   
		   a:hover{color: $main-blue; transition: 300ms ease-in-out;}
		}
	}
	.col-2{ display: block; background-color: #FFF; padding: 5px 0 20px 0; border-top: 1px solid #25a9de;
    background: #fbfbfb !important;
		@media screen and (max-width: 768px){text-align: center;}
		p{color: #191919 !important; float: left; @media screen and (max-width: 768px){float: none;}}
		img{float: right; margin-top: 20px; @media screen and (max-width: 768px){float: none;}}
	 }

	@media screen and (max-width: 768px) {
		.col-1{
			li{width: 49%;}
		}
		p{font-size: 2rem;}
	}
	
}