/* Header Section */

.nav {
    z-index: 9;
    width: 100%;
    height: 6.5rem;
    position: fixed;
    line-height: 6.5rem;
    text-align: center;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 2rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;    
}

.nav div.main_list {
    height: 6.5rem;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 6.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 6.5rem;
    padding: 0;
    padding-right: 2rem;
}

.nav div.main_list ul li.active a{
    background-size: 75% .4rem;
    padding: 0.25rem 0.125rem;
    transition: 300ms ease-in-out;
}

.nav div.main_list ul li a {
    line-height: 6.5rem;
    background-size: 0% .6rem;
}

.nav div.main_list ul li a:hover {
    background-size: 75% .4rem;
    padding: 0.25rem 0.125rem;
    transition: 300ms ease-in-out; 
}

.registeration{
    float: right;
    a{padding: .5rem 1.5rem .5rem 0;}
    span{
        display: block;
        .logout{float: right; margin-left: 5px}
        img{max-width: 4rem; vertical-align: middle; border-radius: 50%}
    }
}

.registeration-mob{display: none;}

.custome-header{
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    top: .5rem;
    left: 0;
    img{
        width: 100%;
        height: 100vh;
        //background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
        background-position: center;
        background-size:cover;
        //clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        background-image: linear-gradient( to right bottom, rgba(126, 213, 111, .8), rgba(40, 180, 131, .8));
    }
    
    .intro{
        margin: 0;
        width: 80%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        span{display: block;}
        h2 span:first-child{
            animation: moveInLeft 1s ease-out;
        }
        h2 span:last-child{
            animation: moveInRight 1s ease-out;
        }
        h2{
            transition: all .2s;
            &:hover{
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba(#000, .2);
            }
        } 
    }
}

.navTrigger { display: none; }

/* Media qurey section */

@media screen and (max-width:782px) {
    nav .container{width: 99% !important;}
    .registeration{display: none !important; }

    .registeration-mob{
        display: block;
        position: absolute;
        top: 32rem;
        text-align: center;
        width: 100%;
        display: block;
        a{
            padding: 1rem;
            &:hover{color: #fff}
        }
        img{border-radius: 50%; vertical-align: middle;}
    }
    
    .navTrigger { display: block; }
    .nav div.logo {
        float: none;
        display: inline;
    }
    .nav div.search {
        float: left;
        padding: 0;
        position: absolute;
        top: .9rem;
        left: 2.1rem;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
        position: relative;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        margin-top: 1.5rem !important;
    }
    .nav div.main_list ul li a {
        text-align: center;
        padding: 2rem;
    }
    .nav div.media_button { display: block; }
}

.affix { box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); }

.myH2 { text-align:center; }

.myP {
  text-align: justify;
  padding-left:15%;
  padding-right:15%;
}

@media all and (max-width:700px){
  .myP { padding:2%; }
}


/* video   

#video-background {
  position: relative;
  right: 0; 
  bottom: 0;
  max-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 3;
}
*/

.expand-nav{ transition: 300ms ease-in-out; }

/* search */
.no-scroll{overflow: hidden !important;}
.live-search{
    position: relative;
    display: none;
    .visible{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999999999;
        input{
            width: 100%;
            padding: 1.5rem 9rem;
            border: none;
        }
    }
    
    .fa-search{
        position: absolute;
        top: 2.4rem;
        left: 4rem;
    }
}

.nav .search{
    float: right;
    padding: .6rem 0;
    cursor: pointer;     
}

.fa-times-circle{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}