/* Global */

.container{
    width: 90% !important;
    margin: auto;
}

.page-template-default{
    .nav{position: inherit !important}
    .page-margin{ padding: 3% 0;}
}

h2 a{width: 100%; display: block;}

.registeration{
    float: right;
    a{padding: .5rem 1.5rem .5rem 0;}
    span{
        display: block;
        .logout{float: right; margin-left: 5px}
        img{max-width: 4rem; vertical-align: middle; border-radius: 50%}
    }
}

.registeration-mob{display: none;}
/* Header Section */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.nav {
    z-index: 9;
    width: 100%;
    height: 6.5rem;
    position: fixed;
    line-height: 6.5rem;
    text-align: center;
    background: $main-gray;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.25);
}


.container
{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    //margin-left: -6px;
    
}

.nav div.logo a {
    color: $main-blue;
}

.nav div.logo a:hover {
    color: $main-blue;
}


.nav div.main_list {
    height: 6.5rem;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 6.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav div.main_list ul li {
    width: auto;
    height: 6.5rem;
    padding: 0;
    padding-right: 2rem;
}

.nav div.main_list ul li.active a{
    color: #000;
    background: linear-gradient($main-blue,$main-blue) bottom left no-repeat;
    background-size: 75% .4rem;
    padding: 0.25rem 0.125rem;
    transition: 300ms ease-in-out;
}

.nav div.main_list ul li a {
    color: #000;
    line-height: 6.5rem;
    background: linear-gradient(#25a9de,#25a9de) bottom left no-repeat;
    background-size: 0% .6rem;
}

.nav div.main_list ul li a:hover {
    color: $main-blue;
    background: linear-gradient($main-blue,$main-blue) bottom left no-repeat;
    background-size: 75% .4rem;
    padding: 0.25rem 0.125rem;
    transition: 300ms ease-in-out; 
}


/* Home section */
.custome-header{
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    top: .5rem;
    left: 0;
    background-color: $main-gray;
    img{
        width: 100%;
        height: 96vh;
        //background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
        background-position: center;
        background-size:cover;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        background-image: linear-gradient( to right bottom, rgba(126, 213, 111, .8), rgba(40, 180, 131, .8));

    }
    
    //video{width: 100%; height: 100%;}
    .intro{
        margin: 0;
        width: 65%;
        color: $main-blue;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h2:first-child{
            animation: moveInLeft 1s ease-out;
        }
        h2:last-child{
            animation: moveInRight 1s ease-out;
        }
        
    }
}

.navTrigger {
    display: none;
}

.nav {
    padding-bottom: 2rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: auto;
    }
}

@media screen and (max-width:782px) {

    .registeration{
        display: none !important;
    }

    .registeration-mob{
        display: block;
        position: absolute;
        top: 32rem;
        text-align: center;
        width: 100%;
        span{
            display: block;
             a{
            color: #fff;
            padding: 1rem;
            }
            img{border-radius: 50%; vertical-align: middle;}
        }
       
    }
    html{margin-top: 0 !important;}
    .blog .container{
        max-width: 100% !important;
    }
    .container{
        width: 95% !important;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        float: none;
        display: inline;
    }
    .nav div.search {
        float: left;
        padding: 0;
        position: absolute;
        top: .9rem;
        left: 2.1rem;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
        position: relative;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $main-blue;

        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        margin-top: 1.5rem !important;
    }
    .nav div.main_list ul li a {
        text-align: center;
        padding: 2rem;
        color:#FFF;
        &:hover{
            color: #000;
        }
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animatio */
.navTrigger {
    cursor: pointer;
    width: 3rem;
    height: 2.5rem;
    margin: auto;
    position: absolute;
    right: 3rem;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #000;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: .4rem;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.affix {
    background-color: $main-gray;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}


.myH2 {
  text-align:center;
}
.myP {
  text-align: justify;
  padding-left:15%;
  padding-right:15%;
}
@media all and (max-width:700px){
  .myP {
    padding:2%;
}
}


/* video   

#video-background {
  position: relative;
  right: 0; 
  bottom: 0;
  max-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 3;
}
*/

.expand-nav{
    transition: 300ms ease-in-out;
}

/* search */
.no-scroll{overflow: hidden !important;}
.live-search{
    position: relative;
    display: none;
    .visible{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .96);
        z-index: 99999999999;
        input{
            width: 100%;
            padding: 1.5rem 9rem;
            border: none;
            color: red;
        }
    }
    
    .fa-search{
        position: absolute;
        top: 3rem;
        left: 4rem;
        color: $main-blue;
    }
}

.nav .search{
    float: right;
    padding: .6rem 0;
    cursor: pointer;
    color: $main-blue;
     
}

.fa-times-circle{
    cursor: pointer;
    color: #25a9de;
    position: absolute;
    top: 10px;
    right: 10px;
}