// Projects

.projects{
	@media screen and (max-width: 768px) {
		padding-bottom: 3rem !important;
	}
	@media screen and (max-width: 768px) {
		.front-projects{
			padding-top:0 !important;
			padding-bottom: 15% !important;
		}
	}
	
	.blog-posts{
		.single-post{
			width: 100%;
			.post-content{
				width: 100% !important;
				h2 a{width: 100%; display: block;}
				.project-date{
					background: $main-blue;
				    max-width: 239px;
				    padding: 7px 7px;
				    color: #fff;
				    font-size: 2rem;
				    border-radius: 7px;
				    display: inline-block;
				}
				.entry-footer{
					display: inline;
					float: right;
				}
			}
		}
	}
}

//Languages

.Languages{
	span{
		font-size: 2rem;
		display: block;
		text-align: center;
	}
	ul{
		li{
			margin-bottom: 15px;
			padding: 1rem;
			background-color: #fff;
			font-size: 3rem;
			a{
				width: 100%;
				display: block;
			}
		}
	}
}