// Projects

.projects{
	.front-projects{padding: 2% 0 2% 0;}
	@media screen and (max-width: 768px) { padding-bottom: 7rem !important; }
	@media screen and (max-width: 768px) {
		.front-projects{
			padding-top:0 !important;
			padding-bottom: 15% !important;
		}
	}
	
	.blog-posts{
		.single-post{
			width: 100%;
			.post-content{
				width: 100% !important;
				h2 a{width: 100%; display: block;}
				.project-date{
					max-width: 239px;
					padding: 7px 7px;
					border-radius: 7px;
					display: inline-block;
				}
				.entry-footer{
					display: inline;
					float: right;
				}
			}
		}
	}
}

.single-project{
	.page-margin{
		padding: 8% 0 !important;
	@media screen and (max-width: 500px) {
		padding: 17% 0 23% 0 !important;
		}
	}
}

//Languages

.Languages{
	span{
		display: block;
		text-align: center;
	}
	ul{
		li{
			margin-bottom: 15px;
			padding: 1rem;
			a{
				width: 100%;
				display: block;
			}
		}
	}
}