$main-gray: #f2f6f7;
$main-blue: #25a9de;


// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);
$background:#efefef;
$field-color:#E8E9EA;
