/* single post page */

.singl{
	@media screen and (max-width: 768px) { padding: 5% 0 0 0;}
	.container{
		display: flex;
		@media screen and (max-width: 768px) { display: block;}
	}
	.wrapper-post{
		width: 68%;
		margin-right: 2rem;
		padding: 7% 0 2% 0;
		@media screen and (max-width: 768px) { width: 100%; }
		.single-post-page{
			width: 100%;
			.img-container img{
				max-width: 100%;
				max-height: 450px;
			}

			.post-content{
				margin-top: 2rem;
				.date{font-size: 2rem;}

			}
		}
	}

	.wrapper-aside{
		padding: 15% 0 0 0;
		width: 30%;
		@media screen and (max-width: 768px) { width: 100%; padding: 0; }

		// recent posts widget
		.blog-posts{
			padding: .5rem 1rem;
			@media screen and (max-width: 768px) {
				text-align: left;
				padding: 1rem 2rem;
				margin-top: 0;
			}
			h3{margin: 0; padding: .5rem 0 0 0}
			.single-post{
				display: flex;
				margin:1rem 0;
				.img-container{
					width: 50%;
					margin-right: 2%;
					@media screen and (max-width: 768px) {
						width: 30% !important;
						img{ width: 170px !important; }
					}
					img{height: 100%;}
				}
				.post-content{
					width: 48%;
					font-size: 1.3rem;
					padding: .5rem;
					.post-info{font-size: 1.5rem;}
					@media screen and (max-width: 768px) {
						font-size: inherit;
						width: 70%
					}
					h4{margin: 0; }
				}
			}
		}
		
		//margin-top: 2%; box-shadow: 0 5px 20px 0 rgba(69,79,89,0.2);
	 	//transition: box-shadow 300ms ease; border-radius: 5px; &:hover {box-shadow: 0 11px 54px 0 rgba(69,79,89,0.3)}
	 	.widget-area{
	 		width: 100%;
	 		@media screen and (max-width: 768px) {
	 			padding-top: 2.5rem !important;
	 		}
	 		overflow: hidden;
	 		section{
	 			float: left;
	 			padding: 0 25px;
	 		}

	 		//widget categories
	 		.widget_categories{
	 			padding: 0 !important; width: 100% !important;
	 			@media screen and (max-width: 768px) {
	 				padding: 1.5rem !important;
	 			}
	 			ul{width: 100%;
	 				@media screen and (max-width: 768px) {
	 					width: 100% !important;
	 				}
	 			}
	 			li{ margin: .5rem 0; padding: .5rem; text-transform: uppercase;
	 				a{transition: all 0.4s ease; }}
	 			}
	 		}
	 	}
	 }

	 /* comments page */
	 .comments-area{
	 	padding: 1rem 0 5rem 0;
	 	@media screen and (max-width: 768px) {padding: 1rem 0 10rem 0;}
	 	.comments-title{ padding: 11px;}
	 	.comment-list li{
	 		margin-bottom: 17px;
	 		padding: 10px 0 0 15px;
	 		.comment-author{
	 			position: relative;
	 			img{ border-radius: 50%; }
	 			.says{display: none}
	 			.fn{
	 				padding: 7px;
	 				position: absolute;
	 				top:1rem;
	 				border-radius: 10px;
	 			}
	 		}
	 		.comment-body{
	 			border-bottom: 1px solid #ccc;
	 			padding: 1.2rem;
	 		}
	 	}
	 }

	 .comment-form{ 
	 	input{
	 		display: block;
	 		padding: 5px;
	 	}
	 	.submit-btn{
	 		cursor: pointer;
	 		text-transform: uppercase;
	 		line-height: 1em;	    
	 		padding: .7vw;
	 		color: #fff;
	 		border: none;
	 		background: lighten($main-blue, 3%);  
	 		border: 1px solid darken($main-blue, 4%);
	 		box-shadow: 0px 2px 0 darken($main-blue, 5%), 2px 4px 6px darken($main-blue, 2%);
	 		letter-spacing: 1px;
	 		transition: 300ms ease-in-out;
	 		&:hover{
	 			transition: 300ms ease-in-out;				
	 			border: 3px solid $main-blue;
	 			background: darken($main-blue, 1.5%);
	 			border: 1px solid rgba(#000, .05);
	 			box-shadow: 1px 1px 2px rgba(#fff, .2);
	 			color: #000; 
	 			text-decoration: none;
	 			text-shadow: -1px -1px 0 darken($main-blue, 9.5%);
	 		}
	 	}
	 }

	 /* Page.php */
	 .page-margin{ padding: 5% 0;}

	 @media screen and (max-width: 768px) {
	 	.page-margin{ padding: 10% 0 20% 0 !important;}
	 }

	 /* search page */
	 .search {padding-bottom: 0 !important;}
	 .search-results .singl{
	 	.page-title{
	 		font-size: 3rem;
	 		span{color: $main-blue}
	 	}
	 	 @media screen and (max-width: 768px) {
			padding: 10% 0 15% 0 !important;
	 	 }
	 	 .wrapper-aside{ padding: 22% 0 0 0;}
	 	 .wrapper-post .single-post-page{margin-bottom: 8%;}
	 	 @media screen and (max-width: 768px) {
			.wrapper-aside {padding: 0}
	 	 }
	 }
	 .no-results{
	 	width: 70%;
	 	padding: 8% 0 0 0;
	 	@media screen and (max-width: 768px) {
	 		padding: 15% 0 0 0 !important;
	 		width: 100%;
	 	}
	 	
	 }

	 .search-no-results{
	 	@media screen and (max-width: 768px){
			.singl{ padding: 2% 0 17% 0;}
	 	}
	 }