.woocommerce-page{
	.site-main, input{
	font-size: 1.7rem;
	#coupon_code{width: 123px;}
	}
}
.woocommerce{
	.woocommerce-breadcrumb {font-size: 2rem;}
	.woocommerce-ordering select{font-size: 2rem;}
	.site-main{
		font-size: 1.7rem;
		width: 90%;
		margin: 7% auto 5%;
			@media screen and (max-width: 768px) { margin: 18% auto 20%; }
		.qty{padding: 5px}
		.variations select{font-size: 1.5rem;}
	}
	.star-rating span::before{color: #ffb600;}
	.star-rating {float: none;} 

	form .form-row  #order_comments{font-size: 1.5rem}

		.live-search{
	    position: relative;	
		}
		.search-form .fa-search{
	        position: absolute;
	        top: 1.4rem;
	        right: 2rem;
	    }
}

#post-456 {width: 60%;}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
	width: 100px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: $main-blue;
	&:hover{ background-color: $main-blue; opacity: .9}
}


.woocommerce div.product div.images .flex-control-thumbs {
  display: block;
}

.flex-viewport{
	height: 500px !important;
	@media screen and (max-width: 768px) { height: 375px !important; }
}

.woocommerce-product-details__short-description{margin-bottom: 15px;}
.woocommerce span.onsale, .woocommerce div.product div.images .woocommerce-product-gallery__trigger{z-index: 1; background-color: $main-blue}

.woocommerce div.product .woocommerce-product-rating, .woocommerce div.product .product_title{margin-bottom: 0 !important;}
.best-seller{padding-bottom: 1px !important;}

.woocommerce ul.products li.product .onsale {background-color: $main-blue; }

.woocommerce ul.products li.product .button, .woocommerce #review_form #respond .form-submit input, button, .wc-forward {
	color: #FFF !important; background-color: $main-blue !important;
	&:hover{ background-color: $main-blue !important; opacity: .9 !important}
	}
.woocommerce-message {
    border-top-color: $main-blue;
}	

.woocommerce-message::before {
    color: $main-blue;
}


.woocommerce ul.products li.product a img:hover{
	transform: scale(1.1);
	transition: 300ms ease;
}

.added_to_cart{
	margin-top: 6px;
	padding: 9px 13px;
}

.woocommerce div.product form.cart .button{width: 70%;}
.woocommerce-Price-amount{
	color: $main-blue;
	font-size: 2.3rem;
	font-weight: bolder;
}

/* adjust product gallery */

@media screen and (min-width: 768px){
	.flex-viewport{
		width: 73%;
		float: right;
	}

	.woocommerce div.product div.images .flex-control-thumbs{
		float: left;
		width: 25%;
	}

	.woocommerce div.product div.images .flex-control-thumbs li{
		width: 100%;
	}
}