.woocommerce-page{
	.site-main, input{
	font-size: 1.7rem;
	#coupon_code{width: 123px; @media screen and (max-width: 768px) {padding: 3px;} }
	}
}
.woocommerce{
	.entry-summary{font-size: 2rem;}
	.woocommerce-breadcrumb {font-size: 2rem;}
	.woocommerce-ordering select{font-size: 2rem;}
	.site-main{
		font-size: 1.7rem;
		width: 90%;
		margin: 7% auto 5%;
			@media screen and (max-width: 768px) { margin: 18% auto 20%; }
		.qty{padding: 9px; @media screen and (max-width: 768px){padding: 6px;}}
		.variations select{font-size: 2.5rem;}
	}
	.star-rating span::before{color: #ffb600;}
	.star-rating {float: none;} 

	form .form-row  #order_comments{font-size: 1.5rem}

		.live-search{
	    position: relative;	
		}
		.search-form .fa-search{
	        position: absolute;
	        top: 1.4rem;
	        right: 2rem;
	    }
}

.woocommerce-products-header{margin-bottom: 3%;}

.archive .content-area{background-color: $main-gray}

/* checkout page */
.entry-title, .page-title{
	@include special-header ();
}

.woocommerce div.product .product_title{padding: 0 10px;}
.woocommerce div.product .woocommerce-product-rating{margin: 20px 0 0 0;}
.woocommerce-cart-form{background-color: $main-gray;}
.cart_totals tbody{background-color: $main-gray}
@media screen and (max-width: 768px){
.woocommerce-checkout .page-margin {
    padding: 10% 0 0 0!important;
	}
}

@media screen and (max-width: 768px){
.woocommerce-cart .page-margin {
    padding: 10% 0 0 0!important;
	}
}

form.checkout {
	width: 50%; float: left; margin-right: 5%;
	@media screen and (max-width: 768px){
		width: 100%;
		float: none;
		margin-right: 0;
	}
}
.woocommerce-checkout .woocommerce{overflow: hidden;}
.wpmc-tabs-wrapper .wpmc-tabs-list{margin-top: 15px;}
.wp-block-preformatted{background-color: #FFF}
.wpmc-nav-buttons {
    text-align: left;
    margin-right: 79px;
    @media screen and (max-width: 768px) {
    	margin-right: 0;
    }
}
.woocommerce-checkout .woocommerce-cart-form{
	margin-top: 80px; font-size: 1.3rem; background: $main-gray;
	@media screen and (max-width: 768px) {
		margin-top: 0; font-size: 2rem;
	}
}

.woocommerce-checkout{
	#coupon_code{ padding: 1px !important; @media screen and (max-width: 768px) {padding: 5px !important;} }
	.upper-bar, nav, .before-footer, .site-footer{display: none;}
	.page-margin{padding: 0;}
	input:focus{
		border: .2rem solid $main-blue;
	}
	input{padding: 8px 5px;}
	form.woocommerce-checkout label{display: none;}
}

.woocommerce-additional-fields{display: none;}

.checkout-logo{color: $main-blue; margin:-7px 0 40px 0}
/* end checkout */

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
	width: 100px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: $main-blue;
	&:hover{ background-color: $main-blue; opacity: .9}
}


.woocommerce div.product div.images .flex-control-thumbs {
  display: block;
}

.flex-viewport{
	height: 500px !important;
	@media screen and (max-width: 768px) { height: 375px !important; }
}

.woocommerce-product-details__short-description{margin-bottom: 15px; font-weight: bold;
    font-size: 2.5rem;}
.woocommerce span.onsale, .woocommerce div.product div.images .woocommerce-product-gallery__trigger{z-index: 1;}
.woocommerce span.onsale{background-color: $main-blue}
.woocommerce div.product .woocommerce-product-rating, .woocommerce div.product .product_title{margin-bottom: 0 !important;}
.best-seller{padding-bottom: 1px !important;}

.woocommerce ul.products li.product .onsale {background-color: $main-blue; }
.home .woocommerce span.onsale{
	@media screen and (min-width: 768px){ position: absolute; left: 12.5em !important; }
}
.woocommerce span.onsale{
	@media screen and (min-width: 768px){
		position: absolute; left: 6.5em !important;
	}
}
.woocommerce ul.products li.product .button, .woocommerce #review_form #respond .form-submit input, button, .wc-forward {
	color: #FFF !important; background-color: $main-blue !important;
	&:hover{ background-color: $main-blue !important; opacity: .9 !important}
	}
.woocommerce-message {
    border-top-color: $main-blue;
}	

.woocommerce-message::before {
    color: $main-blue;
}

.woocommerce ul.products li.product a img:hover{
	transform: scale(1.1);
	transition: 300ms ease;
}

.woocommerce ul.products li.product a img{
	transition: 300ms ease;
}


.added_to_cart{
	margin-top: 6px;
	padding: 9px 13px;
}

.woocommerce div.product form.cart .button{width: 70%;}
.woocommerce-Price-amount{
	color: $main-blue;
	font-size: 2.3rem;
	font-weight: bolder;
}

/* adjust product gallery */

.woocommerce-product-gallery__image{width: 500px;}
@media screen and (min-width: 768px){
	.flex-viewport{
		width: 83%;
		float: right;
	}

	.woocommerce div.product div.images .flex-control-thumbs{
		float: left;
		width: 15%;
	}

	.woocommerce div.product div.images .flex-control-thumbs li{
		width: 100%;
	}
}

.scroll-top {
  position: fixed;
  right: 26px;
  bottom: 25px;
  display: none;
  font-size: 1.5rem;
  z-index: 9999999999999;
}

.product-border{border: 3px solid $main-blue;}

.woocommerce div.product div.images .flex-control-thumbs li:hover{
	border: 3px solid $main-blue;
}
.wcpr-comment-author:after{
	content: "\2713";
    border-radius: 50%;
    color: #FFF;
    background: #14BFF4;
    font-size: 1rem;
    padding: 1px;
    margin: 3px;
}


/* testmonials*/

//@import url("https://use.typekit.net/ivq4uiu.css");

.testm .container, .is-multiline{overflow: hidden;}
.container .testimonial-wrapper {
  margin: 1% 2% 2% .5%;
  transition: all 0.3s ease-in-out;
  width: 47.5%;
  float: left;
  overflow: hidden;
  @media screen and (max-width: 768px){
  	width: 100%;
  	float: none;
  }
}
.container .testimonial-wrapper:hover {
  box-shadow: 0 2px 7px $main-blue;
}
.container .testimonial-wrapper .testimonial {
  background: #FFF;
  border-radius: 4px;
  padding: 0 15px;
  overflow: hidden;
  font-size: 2rem;
}
.container .testimonial-wrapper .testimonial .quote {
  font-size: 2rem;
  color: #f2f2f2;
  z-index: 1;
  font-family: halyard-text, sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.02rem;
}
.container .testimonial-wrapper .testimonial .attribution {
  color: #d78118;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-top: 15px;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
}


.fa-star:before {
    content: "\f005";

}

.stars{color: #FFBE3E}