body{font-family:'Lato', sans-serif;font-size:16px;line-height:24px;color:#666;background-color:#666;}
h1,h2,h3,h4,h5,h6{font-family:'Oswald', sans-serif;font-weight:500;color:#333;}
.logo_sec a{display:inline-block;width:100%;text-align:center;}
.header-top-ss{background-color:#333;}
.payment_budgyd{width:750px;margin:0 auto;}
form#patch_emblem_form input[type="submit"]{ background-color:#f16327;width:750px;margin:0 auto;}
section.body-sec .container{background-color:#fff;}
.payment-form{width:750px;margin:0 auto;}
form#patch_emblem_form input[type="submit"],.form-row,form#patch_emblem_form h2 ,form#patch_emblem_form p{width:750px;margin:0 auto;}
form#patch_emblem_form{overflow: hidden; width:100%;padding-left:10px;padding-right:10px;}
.req_sec{color:#fff;padding:15px 15px;background-color:#f16327;text-align:center;}
.navbar-nav > li > a{color:#212121;font-size:13px;}
.logo_sec a img{width:85px;}
.navbar-nav{padding:0;}
.v-first-footer{background-color:#353434;}
.v-footer-heading{width:100%;float:left;}
.how-it-work .work-box img{border:0;}
.container.how-it-work{background-color:#f9f9f9;padding:3%;}
.row.tp_con_s{padding-bottom:2%;}
.home-first-heading{text-align:center;}
.v-footer-heading.free_quote{margin-top:15px;}
p.options-para{display:none;}
.galleryArea.clearfix{width:97%;}
.logo_sec::before{content:"";position:absolute;height:100%;width:999px;background:#f16327;right:100%;top:0;}
.menu-header_menu-container li{border:1px solid #908c8c;border-bottom:none}
.navbar-nav > li > a:hover{color:#333 !important;}
.info_sec{width:100%;float:left;}
.headtop_contact{margin:12px 0px;float:none;}
.headtop_contact .textwidget{padding:0;}
.top_phonebox i, .top_mailbox i{height:40px;width:40px;border:2px solid #4a4a4a;line-height:35px;text-align:center;border-radius:100%;margin-right:20px;}
.top_phonebox::before{content:"";position:absolute;height:45px;width:1px;background:#4a4a4a;top:50%;transform:translateY(-50%);right:30px;}
.top_phonebox, .top_mailbox{margin:0;position:relative;padding-right:60px;font-size:18px;}
.top_mailbox.login_registration{padding:0;}
.top_mailbox.login_registration::before{content:none;}
.top_mailbox.login_registration a{color:#fff;}
section.body-sec{margin-top:115px;padding-top:0px !important;}
.request_quote h3 a{text-transform:uppercase;color:#fff;}
.navbar-nav > li > a{font-size:15px;text-transform:uppercase;font-family:'Oswald', sans-serif;padding:15px;color:#fff !important;font-weight:600;}
.menu-header_menu-container ul{width:100%;display:inline-block;}
.request_quote h3{margin:0;text-align:center;}
.navbar-nav > li > a i{margin-right:5px;font-size:18px;}
.bannerform_positionbox .freequote_banner_form{width:100%;border-radius:10px;padding:20px;}
.bannerbase{background-size:cover !important;max-height:inherit;background-position:bottom !important;}
.banner .bannerNew2Area4clnt{width:100%;margin:0;position:relative;}
.banner:before{left:0;content:"";position:absolute;width:100%;height:100%;top:0px;}
.banner .bannerNew2Area4clnt::before{left:0;content:"";position:absolute;width:100%;height:100%;}
.banner .bannerNew2Area4clnt::after{right:100%;content:"";position:absolute;width:100%;height:100%;top:0;}
.bannerbase .banner{position:relative;height:auto;padding:100px 0;}
.bannerform_positionbox{position:static;}
.banner .col-sm-5:first-child{position:static;}
form#form1 input, form#form1 textarea, form#form1 select{border:2px solid #eee;line-height:0;}
form#form1 input::placeholder, form#form1 textarea::placeholder,form#form1 select::placeholder{color:#666;padding:10px;font-size:14px;}
.freequote_banner_form .freeQuoteArea header h2{color:#333;margin-bottom:20px;}
.buttons input#saveForm{width:auto;float:right;padding:10px 30px;height:auto;background:#f26428;border:2px solid #e86026;font-family:'Oswald', sans-serif;}
.your-idea{display:none;}
.icon_sc{width:80px;display:inline-block;float:left;vertical-align:middle;}
.content_sc{width:100%;display:inline-block;vertical-align:middle;padding-left:80px;}
.money_back.surity_content .content_sc:before{background:url(../images/return_policy_b.png) no-repeat;position:absolute;left:20px;content:'';height:70px;width:60px;background-position:-152px 10px;}
.free_ship_back.surity_content .content_sc:before{background:url(../images/return_policy_b.png) no-repeat;position:absolute;left:20px;content:'';height:70px;width:60px;background-position:-91px 10px;}
.support_back.surity_content .content_sc:before{background:url(../images/return_policy_b.png) no-repeat;position:absolute;left:20px;content:'';height:70px;width:60px;background-position:-32px 10px;}
.content_sc h2{font-size:20px;text-transform:uppercase;margin-bottom:10px;}
.content_sc p{font-size:15px;line-height:18px;color:#666;}
.return_policy .container{background:#fff;padding:20px 15px;}
.how-it-work{font-size:18px;line-height:28px;}
.how-it-work .container{background:#f9f9f9;;}
.how-it-work .container{padding:15px;}
.how-to-order .container{padding:15px;}
.how-it-work .work-box h3{text-transform:uppercase;font-family:'Oswald', sans-serif;padding-top:0;font-weight:500;color:#333;}
.how-it-work .work-box p{padding:0;}
.testimonial_sec .container{background:#fff;padding-bottom:10px;}
.testimonial_sec .grey_boredr_in_test{border:3px solid #333;float:left;}
.how-to-order .hto_content{margin:15px;}
.testimonial_sec .home-first-heading{padding-bottom:40px;}
.hto_content .sec1, .hto_content .sec2{margin-bottom:40px;position:relative;}
.row.sec1.last_ih{margin-bottom:0;}
.hto_content .images_jjj{padding:0;}
.hto_content .ordersss_hto{padding:0;}
.hto_content .work_content p{padding:3%;}
.all_home_contemnt .testimonial-video iframe{width:100%;}
.home-first-heading h2::after{background:transparent;}
.address_location i, .call_number i, .envalope_email i{display:inline-block;color:#fff;width:20px;font-size:20px;margin-right:10px;}
.address_location p, .call_number p, .envalope_email p{width:calc(100% - 30px);display:inline-block;vertical-align:top;}
.v-footer-heading.custom_class_quick h3{text-align:left;}
footer .link_quick .menu-footer_menu-container{text-align:left !important;}
.footer-menu li::before{position:absolute;content:"\f054";left:0;font-family:fontawesome;color:#f26428;font-size:12px;}
.footer-menu li{position:relative;padding-left:20px;}
footer.v-footer .v-footer-heading h3{padding:0;}
.v-footer-heading ul a i{font-size:30px;margin-right:20px;}
.address_location,.call_number{margin-bottom:20px;}
footer .v-first-footer{padding:60px 0px;}
.testimonial_sec .testimonial-video{margin-top:0;}
.work_img{padding:2%;}
.hto_content .sec1 .col-sm-8,.hto_content .sec2 .col-sm-8{position:absolute;right:50px;top:50%;transform:translateY(-50%);z-index:9;}
.hto_content .sec2 .col-sm-8{right:auto;left:50px;}
a.btn.btn-orange{background-color:#f16327;border-radius:0;color:#fff;text-transform:uppercase;padding:8px 30px;font-family:'Oswald', sans-serif;border:2px solid #e86026;}
.work_content p{margin-bottom:20px;font-size:18px;line-height:25px;}
.work_content h3{text-transform:uppercase;font-size:25px;background-color:#f16327;padding:3%;color:#fff;-webkit-text-fill-color:white;-webkit-text-stroke-width:1.3px;-webkit-text-stroke-color:black;}
.home-first-heading h2 span{color:#f16327;}
.slider .slick-dots{display:none !important;}
.slider .regular.slider.slick-initialized.slick-slider.slick-dotted{margin-bottom:0px;}
.slider h2{margin-top:5px;margin-bottom:15px;}
.slider .slick-prev{left:100% !important;width:50px !important;height:50px !important;background-color:#f16327 !important;border-radius:50% !important;border:2px solid #fff !important;z-index:9999;margin-top:30px;margin-left:-65px;}
.slider .slick-next{left:100% !important;width:50px !important;height:50px !important;background-color:#f16327 !important;border-radius:50% !important;border:2px solid #fff !important;z-index:9999;margin-top:-30px;margin-left:-65px;}
.slider .slick-track{display:flex;align-items:center;}
.slider{padding:20px 0px;}
.slider .slick-next::before{content:"\f105" !important;font:normal normal normal 33px/1 FontAwesome !important;padding-left:4px;}
.slick-prev::before{content:"\f104" !important;font:normal normal normal 33px/1 FontAwesome !important;}
.top_mailbox.login_registration{display:none;}
div#olark_tab{display:none;left:100%;bottom:0;float:none !important;margin-left:-39px;}
.top_phonebox{float:none !important;}
.top_mailbox{float:none !important;}
.info_sec .textwidget{display:flex;justify-content:center;}
header{z-index:99999;}
.toggle_bar{display:none;}
#olark_tab a{height:auto !important;padding:9px !important;}
.work-box img{width:307px;}
.mrg_lft-top{margin:0 auto;}
.mobile_view_hp{display:none;}
.mobile_view_hp h2{color:#fff;font-size:18px;letter-spacing:1px;}
.header-top-ss .col-sm-9{display:flex;}
.mobile_view_hp{float:left;}
.bannerbase .banner .row{display:flex;align-items:center;}
.bannerbase .banner .row .col-sm-5.pull-right{margin-left:auto;padding-right:0px;}
.banner .freequote_banner_form{position:relative !important;}
.freequote_banner_form form input[type="file"]{border:none !important;}
.freequote_banner_form form .buttons input[type="submit"]{padding:18px 47px !important;font-size:16px !important;font-weight:600;}
.input-file-div{position:relative;}
.input-file-div input[type="file"]:focus{border:none !important;box-shadow:none !important;}
.input-file-div button{position:absolute;top:0;background:#cccccc;border:1px solid #bdbbbb;font-size:13px;padding:3px 13px;display:none;}
.free_ship_back.surity_content{position:relative;}
.free_ship_back.surity_content:before{content:'';position:absolute;left:0px;height:100%;width:1px;background:#ccc;top:5px;}
.free_ship_back.surity_content:after{content:'';position:absolute;right:0px;height:100%;width:1px;background:#ccc;top:5px;}
footer .v-first-ftr-bx .footer-menu li{width:50%;}
footer .v-first-ftr-bx .footer-menu li:last-child{white-space:pre;}
article#post-5861 .container>p{text-align:center;padding:25px 15px;color:#000;border-bottom:2px dashed #f16327;}
article#post-5861 .row.hat_sec_pa.bottom_line_ss{border-bottom:2px dashed #f16327;}
p.back_desc{font-size:30px;line-height:35px;text-align:center;color:#fff;background-color:#f16327;padding:1%;margin:0 auto;font-weight:bold;color:black;-webkit-text-fill-color:white;-webkit-text-stroke-width:1.3px;-webkit-text-stroke-color:black;font-family:'Oswald', sans-serif;}
.row.hat_sec_pa ul li:before{content:'\f0da';width:20px;height:20px;display:inline-block;font:normal normal normal 30px/1 FontAwesome;color:#fd6114;text-align:center;line-height:17px;position:absolute;left:6px;margin-top:3px;}
p.divider_ss{border:solid 1px;display:block;float:left;width:100px;margin:-5px 0 10px;border-color:#363636;clear:both;float:none;}
.row.hat_sec_pa ul{padding-top:10px;position:relative;padding:15px 15px;}
.center_block{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;}
.border_outer{border:3px solid #333;}
.border_outer .top_content_pa{padding:0;}
.slider.all_page_headernn h2{color:#f16327;padding:5%;}
.row.hat_sec_pa .col-xs-4 img{height:auto;}
.top_annou_on_mb{display:none;}
.row.hat_sec_pa.last_desc_hh .col-md-4{display:inline-flex;align-items:center;}
.top_annou_on_mb .top_mailbox, .top_annou_on_mb .top_phonebox{color:#262626;}
.top_annou_on_mb .info_sec.container{background-color:#fff;}
.top_annou_on_mb .top_phonebox i, .top_annou_on_mb .top_mailbox i{height:20px;width:20px;border:2px solid #4a4a4a;line-height:15px;text-align:center;border-radius:100%;font-size:10px;margin-right:1px;border-color:#f16327;}
.row.bottom_line_ss{border-bottom:2px dashed #f16327;}
.header_contenn{border-bottom:2px dashed #f16327;padding:3%;font-weight:bold;text-align:center;font-size:20px;}
.row.bottom_line_ss .col-md-6>h3{color:#f16327;text-transform:capitalize;}
.row.bottom_line_ss p.desc_pt{padding:3% 0;}
.other_page_header_pembl .banner .bannerNew2Area4clnt::before,.other_page_header_pembl .banner .bannerNew2Area4clnt::after{background:transparent;}
.other_page_header_pembl .slider.all_page_headernn h2{text-align:center;font-size:80px;}
div#hs-rsp-image-wrap{margin-top:203px !important;}
div#olark_tab{display:none;}
.patch_type_page .all_bottom_cont_pt h3{color:#fff;color:black;-webkit-text-fill-color:white;-webkit-text-stroke-width:1.5px;-webkit-text-stroke-color:black;background-color:#f16327;font-weight:bolder;padding:1%;display:block;text-align:center;font-size:25px;}
.patch_type_page .top_cont{padding-left:3%;position:relative;font-size:25px;margin-top:15px;font-family:'Oswald', sans-serif;}
.bottom_line_ss.botline3 .patch_typ_bottom a{width:24%;display:flex;padding:10px;align-items:center;}
.bottom_line_ss.botline3 .patch_typ_bottom{display:flex;align-items:stretch;justify-content:space-around;margin:20px;}
.galleryArea.clearfix>p{font-size:20px;font-weight:bold;color:black;}
.patch_type_page .top_cont:before{content:'\f0da';width:20px;height:20px;display:inline-block;font:normal normal normal 30px/1 FontAwesome;color:#fd6114;text-align:center;line-height:17px;position:absolute;left:12px;padding:3px;}
.all_conhshd h5{color:#f16327 !important;}
.bottom_line_ss.botline1 .top_cont:before{left:25px;}
.bottom_line_ss.botline1 .top_cont{padding-left:4%;}
.patch_type_page{color:#000;}
.patch_type_page .patch_typ_middle a{text-align:center;margin:0 auto;display:block;}
.photogalleryMainArea .row{padding:0;margin:0;}
.pricingArea .coverageArea table tr td.bg_color{background:#f16327 !important;}
.col-xs-12.patch_typ_bottom{display:flex;}
.bottom_line_ss.botline4{border:none;}
.bottom_line_ss.botline4 .patch_typ_bottom a{width:100%;display:flex;align-items:center;padding:10px;}
.bottom_line_ss.botline4 .patch_typ_bottom{display:flex;align-items:stretch;justify-content:space-around;margin:20px;}
.bottom_line_ss.botline4 .patch_typ_bottom a img{width:100%;height:auto;}
.example_image ul{display:flex;justify-content:space-between;}
.patch_type_page .container{padding-left:15px;padding-right:15px;}
.example_image{margin:15px;}
.example_image li{padding:10px;width:49%;}
.example_image img{max-height:300px;margin:0 auto;display:block;}
.patch_typ_bottom .col-md-6 li{padding:10px;border:3px solid #333333;background:#eee;width:100%;margin-top:20px;}
.patch_typ_bottom .col-md-6 li img{width:100%;height:250px;object-fit:contain;}
.bottom_line_ss{float:left;width:100%;padding:30px 0;border-bottom:2px dashed #f16327;}
.all_bottom_cont_pt{padding:0 15px;}
.how-it-work .home-first-heading p{padding-top:25px;}
.all_home_contemnt{margin:25px 0;}
.whole_pages_pembl{font-size:17px;margin:25px 0;}
.whole_pages_pembl .container{background-color:#fff;}
.how_conteff{border:3px solid #333;}
.hto_content .row{border:3px solid #333;}
.work_img{border-right:3px solid #333;}
.pull-right .work_img{border-right:0;}
.return_policy{background:#fff;width:100%;float:left;margin-top:5%;margin-bottom:15px;}
.bottom_line_ss.botline1 .top_cont,.bottom_line_ss.botline2 .top_cont{padding-left:50px;}
.return_policy .grey_boredr_in_test{border:3px solid #333;margin:15px;}
.row_bar_nav{display:flex;flex-direction:row;flex-wrap:wrap;}
.logo_sec-nav-Bar{width:10%;}
.col_next-nav-BaR{width:90%;}
.logo_sec{background-color:#f16327;display:flex;width:100%;height:100%;align-items:center;}
#mobilE_nav{display:none;}
.header_wrap .row{margin:0;}
.header_wrap .col-sm-9,.header_wrap .col-sm-3{padding:0;}
.menu_sec{width:100%;border-top:1px solid #ccc;}
.toggle_bar{z-index:99;}
.how-to-order .home-first-heading{padding-bottom:40px;}
.patch_typ_bottom ul{display:flex;}
.patch_typ_bottom ul li{margin:15px;}
.ordersss_hto:before{content:"";border-left:3px solid #333;position:absolute;left:-3px;top:0;height:100%;}
.galleryArea.clearfix >h2{display:none;}
.Quote-form{background-image:linear-gradient(to bottom right, #773d24f2, #f06016);background-color:#f16327;text-align:center;font-size:35px;padding:25px;border-radius:47px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-family:'Oswald', sans-serif;margin:30px 15px;-webkit-text-fill-color:white;-webkit-text-stroke-width:2px;-webkit-text-stroke-color:black;}
.form_in_mobile{display:none;}
.photogalleryMainArea{border:3px solid #333;width:100%;margin:15px;}
.form_in_mobile .modal{z-index:99999;}
.form_in_mobile .modal-body{padding:0;}
.form_in_mobile button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:#e86026;border:0;position:absolute;right:-5px;top:-5px;color:#fff;width:36px;height:36px;opacity:1;z-index:999;font-size:32px;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;line-height:28px;border-radius:100px;}
.form_in_mobile li.buttons{display:flex;align-items:center;justify-content:space-between;padding:10px 0;border-top:1px solid #eee;}
.form_in_mobile .buttons input#saveForm{width:auto;float:none;padding:10px 30px;height:auto;background:#f26428;border:2px solid #e86026;font-family:'Oswald', sans-serif;margin:0!important;}
.form_in_mobile .modal-footer{padding:0;border:0;}
.form_in_mobile .modal-header{padding:0;border:0;}
.form_in_mobile .modal-footer .btn{width:auto;float:none;padding:10px 30px;height:auto;font-family:'Oswald', sans-serif;margin:0!important;border-radius:0;}
.form_in_mobile .modal-content{border:0;}
.gray_border_center{border:3px solid #333333;width:100%;float:left;}
.patch_typ_bottom .col-md-6{padding-bottom:15px;}
p.desc_pt{text-align:center;width:55%;}
.freeQuoteArea ul.freequotepage_form li{padding-bottom:15px;width:100%;}
form#form1{max-width:750px;margin:0 auto;}
.galleryArea.clearfix h3.option-subheading{display:none;}
.freeQuoteArea textarea#Field113,ul.freequotepage_form textarea#Field113{line-height: 26px !important;}
article#post-130 {text-align: center;}
.page-id-63 form#form1 { padding-top: 50px;}
.top_mailbox a { color: #fff;}

ul.freequotepage_form .buttons input#saveForm {color: #fff;cursor: pointer;outline: none;    text-transform: uppercase;    -webkit-appearance: none;    font-weight: bold;    display: inline-block;    max-width: 200px;    width: 100%;    border-radius: 7px;    font-size: 18px;    font-weight: bold;    float: right;    padding: 21px 30px;    height: auto;    background: #f26428;    border: 2px solid #e86026;font-family: 'Oswald', sans-serif;
}
@media screen and (max-width:991px){.photogalleryMainArea{margin-top:5px !important;margin-bottom:5px !important;}
.section_row_pa .row.hat_sec_pa:nth-child(2n) .col-md-8.col-sm-12{order:2;}
.row.hat_sec_pa{flex-direction:column;}
.bottom_line_ss.botline3 .patch_typ_bottom a{width:49%;margin-bottom:15px;}
.iron-on-patches p, h3{text-align:left;}
}
@media screen and (max-width:767px){
.payment-form,.form-row{ width: 100%; }
.photogalleryMainArea{margin-top:5px !important;margin-bottom:5px !important;}
.galleryArea.clearfix{padding:0px 10px !important;width:100%;margin:0 auto;}
.galleryArea.clearfix .home-first-heading h2{margin:0 !important;width:100%;}
.photogalleryMainArea{margin:0;}
.patch_typ_bottom ul{display:block!important;}
div#olark_tab{display:none!important;}
div#hbl-live-chat-wrapper{display:none;}
.pull-right .work_img{border-left:0;}
.work_img{border-right:0;}
p.desc_pt{width:70%;}
.mobile-responsive{display:none;}
.form_in_mobile{display:block;}
div#mobilE_nav{position:static !important;}
.innEr-Part .header_wrap{margin:0;}
.section_row_pa h3{text-align:center;}
p.back_desc{width:100%;}
.work_content{margin-top:0;}
.other_page_header_pembl .slider.all_page_headernn h2{text-align:center;float:none;font-size:45px;}
.other_page_header_pembl .bannerNew2Area4clnt{background:transparent;}
.example_image li, .bottom_line_ss.botline4 .patch_typ_bottom a{width:100%;margin-bottom:15px;}
.example_image ul, .bottom_line_ss.botline3 .patch_typ_bottom, .bottom_line_ss.botline4 .patch_typ_bottom{flex-wrap:wrap;}
.patch_typ_bottom .col-md-6 li{margin:15px 0;}
.bottom_line_ss.botline3 .patch_typ_bottom a{width:100%;}
}
@media (min-width:335px) and (max-width:480px){.header_wrap{margin-top:13%;}
.bannerbase{margin-top:134px;}
}
@media screen and (max-width:481px){.Quote-form{font-size:30px;padding:14px;margin:20px 0px;}
.top_mailbox{float:none !important;color:#333;font-size:12px!important;margin:0!important;padding:0;}
.top_phonebox{float:none !important;color:#333;padding:0;margin:0!important;font-size:12px!important;}
.top_phonebox i, .top_mailbox i{height:30px;width:30px;border:2px solid #4a4a4a;line-height:26px;text-align:center;border-radius:100%;margin-right:8px;}
div#hs-rsp-image-wrap{max-width:88% !important;}
.info_sec{width:100%;float:none;}
}
@media screen and (max-width:334px){.bannerbase{margin-top:149px;}
.info_sec .textwidget{display:inline-block;}
.header_wrap{margin-top:20%;}
.headtop_contact{margin:0px;}
}
@media (max-width:1216px){
/*.header_wrap .col-sm-3{width:100%;float:right;max-width:300px;position:absolute;right:0px;}*/
/*.header_wrap .col-sm-9{width:100%;}*/
/*.info_sec .textwidget{display:flex;justify-content:flex-start;padding-left:15px;}*/
.req_sec{padding:24px 30px;}
}
.row.sec2>div {
    flex: 1 1 auto;
}
.row.sec2 {
    display: flex;
    flex-direction: row;
}
.row.sec2 .images_jjj.pull-right {
    border-left: 3px solid #333;
}



@media(max-width: 1024px){

.bannerbase.only_on_home{
	background: url(https://www.patch-emblem.com/new-site/wp-content/uploads/2019/04/home-banner.jpg) !important; 
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.slider h2 {
    font-size: 36px; 
}
section.body-sec {
    margin-top: 135px !important;
 }
}

@media(max-width:991px){
.bannerbase .banner { 
    padding: 50px 0 !important;
}

.row.sec1 .work_img,
.row.sec2 .work_img {
    position: relative;
    top: 90px;
}
.row.sec1.last_ih .work_img{
	position: relative;
    top: 43px;	
}
}


/* fix */
@media (max-width: 767px){
    .row.sec2{
    flex-direction:column-reverse !important;
    }
    .row.sec1 .work_img, .row.sec2 .work_img{
        top: 10px !important;
    }
}
