/* Base */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
.container {
  width: 90% !important;
  margin: auto; }
  @media screen and (max-width: 782px) {
    .container {
      width: 95% !important; } }

.page-template-default .nav {
  position: inherit !important; }

.page-template-default .page-margin {
  padding: 3% 0; }

h2 a {
  width: 100%;
  display: block; }

/* Website Typography */
@media screen and (max-width: 782px) {
  html {
    font-size: 45% !important; } }

@media (max-width: 950px) and (min-width: 782px) {
  html {
    font-size: 52% !important; } }

p {
  font-size: 2rem;
  line-height: 1.5 !important;
  font-weight: 400 !important; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 3rem; } }

.archive-description {
  font-size: 2rem; }

.special-head {
  text-transform: capitalize;
  z-index: 0;
  position: relative;
  padding: .5rem 1rem;
  display: inline-block;
  font-family: "Shadows Into Light",cursive;
  font-weight: bold;
  font-size: 3rem; }
  .special-head:before {
    content: '';
    border: 0.125em solid #25a9de;
    position: absolute;
    bottom: 0;
    top: 0;
    width: .25em;
    border-right: 0;
    left: 0; }
  .special-head:after {
    content: '';
    border: 0.125em solid #25a9de;
    position: absolute;
    bottom: 0;
    top: 0;
    width: .25em;
    border-left: 0;
    right: 0; }

.post-content h2 {
  margin: 0 0 .5rem 0;
  font-size: 2.5rem;
  font-weight: 900; }
  .post-content h2:hover {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    cursor: pointer; }
    .post-content h2:hover a {
      color: #25a9de; }

.post-content p {
  margin: 1rem 0 !important;
  font-size: 2.5rem; }

.post-content .post-info {
  font-size: 1.5rem !important; }

.post-content .entry-footer {
  font-size: 1.5rem; }

.read-more {
  font-size: 1.2rem; }

.widget-area {
  font-size: 1.5rem; }
  @media screen and (max-width: 768px) {
    .widget-area {
      font-size: 2.5rem; } }

.post-navigation a {
  font-size: 1.5rem;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    .post-navigation a {
      font-size: 2.5rem; } }

.logged-in-as {
  font-size: 1.5rem; }
  @media screen and (max-width: 768px) {
    .logged-in-as {
      font-size: 2.5rem; } }

.comment-reply-title {
  font-size: 2rem; }

.comments-area .comments-title {
  font-size: 2rem; }

.comments-area .comment-list li {
  font-size: 2rem; }
  @media screen and (max-width: 768px) {
    .comments-area .comment-list li {
      font-size: 3rem; } }

.comment-form label {
  font-size: 1.5rem;
  font-weight: 600; }

.comment-form input {
  font-size: 1.3rem; }

.comment-form .form-textarea {
  font-size: 1.3rem; }

.comment-form .submit-btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900; }

.page-nav a {
  font-size: 2rem;
  font-weight: 500;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

input, textarea {
  font-size: 2rem; }

.button {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.registeration a {
  font-size: 1.8rem; }

.registeration-mob {
  font-size: 2rem; }

.nav div.logo a {
  font-weight: 500;
  font-size: 3rem; }

.nav div.main_list ul li a {
  font-size: 2rem;
  font-weight: 600; }

@media screen and (max-width: 782px) {
  .nav div.main_list ul li a {
    font-size: 3rem; } }

.myH2 {
  font-size: 4rem; }

.myP {
  font-size: 2rem; }

.expand-nav {
  font-size: 3.5rem !important; }

.live-search input {
  font-size: 4rem; }

.live-search .fa-search {
  font-size: 3rem; }

.intro {
  font-size: 3rem; }

.project-date {
  font-size: 2rem; }

.Languages span {
  font-size: 2rem; }

.Languages ul li {
  font-size: 3rem; }

.single-project h2 {
  font-size: 2.5rem; }

.single-project ul li {
  font-size: 2rem; }

.btn-sunset-form {
  font-size: 2.5rem;
  font-weight: 100; }

.js-show-feedback {
  font-size: 2rem;
  font-weight: 500; }

/* Animation */
.navTrigger {
  cursor: pointer;
  width: 3rem;
  height: 2.5rem;
  margin: auto;
  position: absolute;
  right: 3rem;
  top: 0;
  bottom: 0; }

.navTrigger i {
  background-color: #000;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: .4rem; }

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards; }

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards; }

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards; }

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg); } }

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg); } }

/* animation of intro */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

/* colors of website */
.about, .bloge, .contact, .nav, .affix, .custome-header, .comments-area, body.login {
  background: #f2f6f7; }

.nav div.logo a, .fa-search, .nav .search, .fa-times-circle, .intro {
  color: #25a9de; }

.nav div.main_list ul li.active a {
  color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#25a9de), to(#25a9de)) bottom left no-repeat;
  background: linear-gradient(#25a9de, #25a9de) bottom left no-repeat; }

.nav div.main_list ul li a {
  color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#25a9de), to(#25a9de)) bottom left no-repeat;
  background: linear-gradient(#25a9de, #25a9de) bottom left no-repeat; }

.nav div.main_list ul li a:hover {
  color: #25a9de;
  background: -webkit-gradient(linear, left top, left bottom, from(#25a9de), to(#25a9de)) bottom left no-repeat;
  background: linear-gradient(#25a9de, #25a9de) bottom left no-repeat; }

@media screen and (max-width: 782px) {
  .nav div.main_list ul {
    background-color: #25a9de; }
  .nav div.main_list ul li a:hover {
    color: #FFF; } }

.live-search .visible {
  background: rgba(255, 255, 255, 0.96); }
  .live-search .visible input {
    color: red; }

.post-content {
  background-color: #FFF; }

.post-info .entry-date {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }
  .post-info .entry-date:hover {
    color: #25a9de; }

.post-info .author:hover a {
  color: #25a9de;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.entry-footer a:hover {
  color: #25a9de;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.page-nav:hover a {
  color: #25a9de; }

.btn-sunset-form {
  background-color: #B6B6B6;
  color: #FFF; }
  .btn-sunset-form:hover, .btn-sunset-form:focus {
    background-color: #25a9de;
    color: #FFF; }

.js-show-feedback {
  color: green; }

.project-date {
  background: #25a9de;
  color: #FFF; }

.Languages ul li {
  background-color: #FFF; }

.singl .container {
  background: #FFF; }

.wrapper-aside .blog-posts {
  background: #f2f6f7; }

.wrapper-aside .widget_categories li {
  background: #f2f6f7; }

.wrapper-aside .widget-area {
  background: #FFF; }

.post-navigation a {
  color: #25a9de;
  background: #FFF; }

.comments-title {
  background: #FFF; }

.comment-author .fn {
  background: #f2f6f7; }

.comment-body {
  background: #FFF; }

.site-footer {
  background-color: #333; }
  .site-footer p {
    color: #FFF !important; }
  .site-footer a {
    color: #FFF; }
    .site-footer a .fa-linkedin:hover {
      color: #25a9de;
      -webkit-transition: 300ms ease-in-out;
      transition: 300ms ease-in-out; }
    .site-footer a .fa-github:hover {
      color: orange;
      -webkit-transition: 300ms ease-in-out;
      transition: 300ms ease-in-out; }

/* Header Section */
.nav {
  z-index: 9;
  width: 100%;
  height: 6.5rem;
  position: fixed;
  line-height: 6.5rem;
  text-align: center;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.nav div.logo {
  float: left;
  width: auto;
  height: auto; }

.nav div.main_list {
  height: 6.5rem;
  float: right; }

.nav div.main_list ul {
  width: 100%;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav div.main_list ul li {
  width: auto;
  height: 6.5rem;
  padding: 0;
  padding-right: 2rem; }

.nav div.main_list ul li.active a {
  background-size: 75% .4rem;
  padding: 0.25rem 0.125rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.nav div.main_list ul li a {
  line-height: 6.5rem;
  background-size: 0% .6rem; }

.nav div.main_list ul li a:hover {
  background-size: 75% .4rem;
  padding: 0.25rem 0.125rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.registeration {
  float: right; }
  .registeration a {
    padding: .5rem 1.5rem .5rem 0; }
  .registeration span {
    display: block; }
    .registeration span .logout {
      float: right;
      margin-left: 5px; }
    .registeration span img {
      max-width: 4rem;
      vertical-align: middle;
      border-radius: 50%; }

.registeration-mob {
  display: none; }

.custome-header {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  top: .5rem;
  left: 0; }
  .custome-header img {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 131, 0.8)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)); }
  .custome-header .intro {
    margin: 0;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    .custome-header .intro h2:first-child {
      -webkit-animation: moveInLeft 1s ease-out;
              animation: moveInLeft 1s ease-out; }
    .custome-header .intro h2:last-child {
      -webkit-animation: moveInRight 1s ease-out;
              animation: moveInRight 1s ease-out; }

.navTrigger {
  display: none; }

/* Media qurey section */
@media screen and (max-width: 782px) {
  nav .container {
    width: 99% !important; }
  .registeration {
    display: none !important; }
  .registeration-mob {
    display: block;
    position: absolute;
    top: 32rem;
    text-align: center;
    width: 100%;
    display: block; }
    .registeration-mob a {
      padding: 1rem; }
      .registeration-mob a:hover {
        color: #fff; }
    .registeration-mob img {
      border-radius: 50%;
      vertical-align: middle; }
  .navTrigger {
    display: block; }
  .nav div.logo {
    float: none;
    display: inline; }
  .nav div.search {
    float: left;
    padding: 0;
    position: absolute;
    top: .9rem;
    left: 2.1rem; }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative; }
  .nav div.show_list {
    height: auto;
    display: none; }
  .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: center top; }
  .nav div.main_list ul li {
    width: 100%;
    margin-top: 1.5rem !important; }
  .nav div.main_list ul li a {
    text-align: center;
    padding: 2rem; }
  .nav div.media_button {
    display: block; } }

.affix {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }

.myH2 {
  text-align: center; }

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%; }

@media all and (max-width: 700px) {
  .myP {
    padding: 2%; } }

/* video   

#video-background {
  position: relative;
  right: 0; 
  bottom: 0;
  max-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 3;
}
*/
.expand-nav {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

/* search */
.no-scroll {
  overflow: hidden !important; }

.live-search {
  position: relative;
  display: none; }
  .live-search .visible {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999; }
    .live-search .visible input {
      width: 100%;
      padding: 1.5rem 9rem;
      border: none; }
  .live-search .fa-search {
    position: absolute;
    top: 3rem;
    left: 4rem; }

.nav .search {
  float: right;
  padding: .6rem 0;
  cursor: pointer; }

.fa-times-circle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; }

/* About me page */
.about {
  padding: 15px 0 80px 0; }
  .about .container {
    display: table !important; }
  .about .about-content {
    max-width: 65%;
    margin-right: 5%;
    float: left;
    clear: both; }
    @media screen and (max-width: 768px) {
      .about .about-content {
        float: none;
        max-width: 100%;
        text-align: center;
        display: table-footer-group; } }
  .about .about-img {
    float: right;
    max-width: 30%;
    margin-top: 4rem; }
    @media screen and (max-width: 768px) {
      .about .about-img {
        float: none;
        max-width: 100%;
        text-align: center;
        display: block; } }
    .about .about-img img {
      max-width: 100%;
      max-height: 45rem;
      border-radius: 1rem; }

/* Blog Section */
.home .bloge {
  padding: 0; }

.bloge {
  padding: 8% 0 0 0; }
  @media screen and (max-width: 768px) {
    .bloge {
      padding: 13% 0 6% 0; } }
  .bloge .container .blog-posts {
    padding-top: 1.5rem; }
    .bloge .container .blog-posts .single-post:not(:last-child) {
      margin-bottom: 2%; }
      @media screen and (max-width: 768px) {
        .bloge .container .blog-posts .single-post:not(:last-child) {
          margin-bottom: 5%; } }
    .bloge .container .blog-posts .single-post {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .bloge .container .blog-posts .single-post:hover .post-img {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      @media screen and (max-width: 768px) {
        .bloge .container .blog-posts .single-post {
          display: block; } }
      .bloge .container .blog-posts .single-post .img-container {
        width: 37%;
        position: relative;
        overflow: hidden; }
        @media screen and (max-width: 768px) {
          .bloge .container .blog-posts .single-post .img-container {
            width: 100%;
            height: 22.5rem;
            display: block; } }
      .bloge .container .blog-posts .single-post .post-img {
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      .bloge .container .blog-posts .single-post .post-content {
        width: 100%;
        padding: 1rem; }
        @media screen and (max-width: 768px) {
          .bloge .container .blog-posts .single-post .post-content {
            width: 100%;
            padding: 2rem 1rem;
            display: block; } }
        .bloge .container .blog-posts .single-post .post-content .read-more {
          float: left;
          width: auto;
          text-transform: uppercase;
          line-height: 1em;
          padding: 1vw;
          color: #fff;
          cursor: pointer;
          background: #32aee0;
          border: 0.1rem solid #1f9dcf;
          -webkit-box-shadow: 0px 0.2rem 0 #1f99cb, 0.2rem 0.4rem 0.6rem #21a4d8;
                  box-shadow: 0px 0.2rem 0 #1f99cb, 0.2rem 0.4rem 0.6rem #21a4d8;
          font-weight: 900;
          letter-spacing: .1rem;
          -webkit-transition: 300ms ease-in-out;
          transition: 300ms ease-in-out; }
          .bloge .container .blog-posts .single-post .post-content .read-more:hover {
            -webkit-transition: 300ms ease-in-out;
            transition: 300ms ease-in-out;
            background: #21a5da;
            border: 0.1rem solid rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
                    box-shadow: 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
            color: #000;
            text-decoration: none;
            text-shadow: -0.1rem -0.1rem 0 #1c8ab7; }
          @media screen and (max-width: 768px) {
            .bloge .container .blog-posts .single-post .post-content .read-more {
              float: none; } }
        .bloge .container .blog-posts .single-post .post-content .entry-footer {
          text-align: right;
          line-height: 3; }
          .bloge .container .blog-posts .single-post .post-content .entry-footer span {
            padding: 0 .5rem; }
          @media screen and (max-width: 768px) {
            .bloge .container .blog-posts .single-post .post-content .entry-footer {
              display: none; } }
  .bloge .page-nav {
    text-align: center;
    padding: 2rem 0;
    display: table;
    margin: auto; }

@media screen and (max-width: 768px) {
  .projects {
    padding-bottom: 3rem !important; } }

@media screen and (max-width: 768px) {
  .projects .front-projects {
    padding-top: 0 !important;
    padding-bottom: 15% !important; } }

.projects .blog-posts .single-post {
  width: 100%; }
  .projects .blog-posts .single-post .post-content {
    width: 100% !important; }
    .projects .blog-posts .single-post .post-content h2 a {
      width: 100%;
      display: block; }
    .projects .blog-posts .single-post .post-content .project-date {
      max-width: 239px;
      padding: 7px 7px;
      border-radius: 7px;
      display: inline-block; }
    .projects .blog-posts .single-post .post-content .entry-footer {
      display: inline;
      float: right; }

.Languages span {
  display: block;
  text-align: center; }

.Languages ul li {
  margin-bottom: 15px;
  padding: 1rem; }
  .Languages ul li a {
    width: 100%;
    display: block; }

/* contact Page */
.page-id-32 {
  background-color: #f2f6f7; }

.contact {
  max-height: 100vh;
  text-align: center;
  padding: 5% 0 7% 0; }
  .contact input, .contact textarea {
    width: 45rem;
    padding: 1.1rem;
    margin-bottom: 2.1rem;
    border-radius: .3rem;
    border: none; }
    .contact input:focus, .contact textarea:focus {
      border: 0.2rem solid #25a9de; }
  .contact .button {
    cursor: pointer;
    color: #FFF;
    width: 26.5rem;
    border: 3px solid #FFF;
    border-radius: .5rem;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out; }

.sunset-contact-form {
  padding-top: 1rem;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto; }
  .sunset-contact-form .form-group {
    position: relative; }
    .sunset-contact-form .form-group .form-control-msg {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1rem; }
    .sunset-contact-form .form-group.has-error:before {
      background-color: #a94442; }
  .sunset-contact-form .sunset-form-control {
    resize: vertical;
    border: none;
    border-radius: 0;
    padding: .5rem 1.5rem;
    outline: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important; }
    .sunset-contact-form .sunset-form-control::-webkit-input-placeholder {
      text-transform: uppercase; }
    .sunset-contact-form .sunset-form-control::-moz-placeholder {
      text-transform: uppercase; }
    .sunset-contact-form .sunset-form-control:-ms-placeholder {
      text-transform: uppercase; }
    .sunset-contact-form .sunset-form-control:-moz-placeholder {
      text-transform: uppercase; }
    .sunset-contact-form .sunset-form-control:hover, .sunset-contact-form .sunset-form-control:focus, .sunset-contact-form .sunset-form-control:active {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .sunset-contact-form .btn-sunset-form {
    border-radius: 2px;
    padding: 1.4rem 6rem;
    border: none; }
    .sunset-contact-form .btn-sunset-form:hover, .sunset-contact-form .btn-sunset-form:focus {
      cursor: pointer; }
  .sunset-contact-form .form-control-msg {
    display: none; }
  .sunset-contact-form .has-error .form-control-msg {
    display: block;
    position: relative;
    top: -1rem; }
  .sunset-contact-form .js-show-feedback {
    display: block;
    margin-top: 1.4rem; }

/* Footer Section */
.site-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0; }
  .site-footer p {
    margin: 0 !important; }
  .site-footer .col-1 {
    display: inline-block;
    float: left; }
  .site-footer .col-2 {
    display: inline-block;
    float: right; }
  @media screen and (max-width: 768px) {
    .site-footer {
      text-align: center; }
      .site-footer .col-1, .site-footer .col-2 {
        display: block;
        float: none; }
      .site-footer .col-2 {
        display: table-header-group; }
      .site-footer .container {
        display: table; } }

/* single post page */
@media screen and (max-width: 768px) {
  .singl {
    padding-top: 20%; } }

.singl .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .singl .container {
      display: block; } }

.singl .wrapper-post {
  width: 70%;
  margin-right: 15px; }
  @media screen and (max-width: 768px) {
    .singl .wrapper-post {
      width: 100%; } }

.singl .single-post-page {
  width: 100%;
  text-align: left;
  padding: 0 15px; }
  .singl .single-post-page .img-container img {
    max-width: 100%;
    max-height: 450px; }
  .singl .single-post-page .post-content {
    margin-top: 2rem; }

.singl .wrapper-aside {
  width: 30%;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .singl .wrapper-aside {
      width: 100%; } }
  .singl .wrapper-aside .blog-posts {
    padding: 1rem;
    margin-top: 13.5rem; }
    @media screen and (max-width: 768px) {
      .singl .wrapper-aside .blog-posts {
        text-align: left;
        padding: 0 2rem;
        margin-top: 0; } }
    .singl .wrapper-aside .blog-posts h3 {
      margin: 0;
      padding: .8rem 0; }
    .singl .wrapper-aside .blog-posts .single-post {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 1rem 0; }
      .singl .wrapper-aside .blog-posts .single-post .img-container {
        width: 60%;
        margin-right: 1.5rem; }
        @media screen and (max-width: 768px) {
          .singl .wrapper-aside .blog-posts .single-post .img-container {
            width: 30% !important; }
            .singl .wrapper-aside .blog-posts .single-post .img-container img {
              width: 170px !important; } }
      .singl .wrapper-aside .blog-posts .single-post .post-content {
        width: 40%;
        font-size: 1.3rem; }
        @media screen and (max-width: 768px) {
          .singl .wrapper-aside .blog-posts .single-post .post-content {
            font-size: inherit;
            width: 70%; } }
        .singl .wrapper-aside .blog-posts .single-post .post-content h4 {
          margin: 0; }
  .singl .wrapper-aside .widget_categories {
    padding: 0 !important;
    width: 100% !important; }
    @media screen and (max-width: 768px) {
      .singl .wrapper-aside .widget_categories {
        padding: 1.5rem !important; } }
    .singl .wrapper-aside .widget_categories ul {
      width: 100%; }
      @media screen and (max-width: 768px) {
        .singl .wrapper-aside .widget_categories ul {
          width: 100% !important; } }
    .singl .wrapper-aside .widget_categories li {
      margin: .5rem 0;
      padding: .5rem;
      text-transform: uppercase; }
  .singl .wrapper-aside .widget-area {
    width: 100%;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .singl .wrapper-aside .widget-area {
        padding-top: 25px !important; } }
    .singl .wrapper-aside .widget-area section {
      float: left;
      padding: 0 25px; }

.post-navigation {
  overflow: hidden;
  padding: 10px; }
  .post-navigation a {
    padding: 8px; }

/* comments page */
.comments-area {
  padding-top: 15px; }
  .comments-area .comments-title {
    padding: 11px; }
  .comments-area .comment-list li {
    margin-bottom: 17px;
    padding: 10px 0 0 15px; }
    .comments-area .comment-list li .comment-author {
      position: relative; }
      .comments-area .comment-list li .comment-author img {
        border-radius: 50%; }
      .comments-area .comment-list li .comment-author .says {
        display: none; }
      .comments-area .comment-list li .comment-author .fn {
        padding: 7px;
        position: absolute;
        top: 1rem;
        border-radius: 10px; }
    .comments-area .comment-list li .comment-body {
      border-bottom: 1px solid #ccc;
      padding: 1.2rem; }

.comment-form input {
  display: block;
  padding: 5px; }

.comment-form .submit-btn {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1em;
  padding: .7vw;
  color: #fff;
  border: none;
  background: #32aee0;
  border: 1px solid #1f9dcf;
  -webkit-box-shadow: 0px 2px 0 #1f99cb, 2px 4px 6px #21a4d8;
          box-shadow: 0px 2px 0 #1f99cb, 2px 4px 6px #21a4d8;
  letter-spacing: 1px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }
  .comment-form .submit-btn:hover {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    border: 3px solid #25a9de;
    background: #21a5da;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
            box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #000;
    text-decoration: none;
    text-shadow: -1px -1px 0 #1c8ab7; }

/* Page.php */
.page-margin {
  padding: 5% 0; }

@media screen and (max-width: 768px) {
  .page-margin {
    padding: 10% 0 !important; } }

/* search page */
.search .page-margin {
  padding-bottom: 0 !important; }
